# Importing necessary libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')
#importing data from url, dividing columns with tabs

In [4]:
data.head(10)
#show first 10 entries

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
data.shape[0]
#number of observations

4622

In [6]:
data.shape[1]
#number of columns

5

In [7]:
data.info()
#display info about dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 126.4+ KB

In [8]:
data.columns
#show columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
data.index
#show index range

RangeIndex(start=0, stop=4622, step=1)

In [22]:
temp = data.groupby('item_name')
#goupby item_name
temp = temp.sum()
#find sum
temp = temp.sort_values(['quantity'], ascending=False)
#sort all data
temp.head(1)
#choose the first one which is max in our case

              order_id  quantity  item_price  revenue
item_name
Chicken Bowl    713926       761     7342.73  8044.63

In [23]:
temp = data.groupby('choice_description').sum()
#groupby choice_desc and find sum for each
temp = temp.sort_values(['quantity'], ascending=False)
#sort them out
temp.head(1)
#choose the first one which is max in our case

                    order_id  quantity  item_price  revenue
choice_description
[Diet Coke]           123455       159      326.71   408.41

In [24]:
total_orders = data.quantity.sum()
#sum all orders
total_orders

4972

In [25]:
data.item_price.dtype

dtype('float64')

In [26]:
dollarizer = lambda x: float(x[1:-1])
#created a lambda func that change dtype to float
data.item_price = data.item_price.apply(dollarizer)

TypeError: 'float' object is not subscriptable

In [ ]:
data.item_price.dtype

In [27]:
revenue = (data['quantity'] * data['item_price']).sum()
#find out revenue for all
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [28]:
orders = data.order_id.value_counts().count()
#number of total item orders
orders

1834

In [29]:
data['revenue'] = data['quantity'] * data['item_price']
order_grouped = data.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']
#find average revenue

21.394231188658654

In [30]:
data.groupby(by=['order_id']).sum().mean()['revenue']
#find average revenue

21.394231188658654

In [31]:
data.item_name.value_counts().count()
#number of different items

50